.aboutPageTitle {
    margin-bottom: 40px;
    letter-spacing: 0.2em;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 7.15em;
    letter-spacing: 0.2em;
    color:rgb(55, 61, 107);
}
.aboutContentPage {
    width: 760px;
    margin: auto;
}
.aboutPageLastParagraph {
    max-width: 780px;
    margin: auto;
    margin-bottom: 100px;
    font-family: Nunito, sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 2.1em;
    letter-spacing: 0.1em;
}
.aboutPageSubtitle {
    font-family: Nunito, sans-serif;
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-bottom: 40px;
}
