.contactsLineContainer {
    max-width: 288px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.contactsIcon {
    width: 10.7%;
    margin: 3%;
}
.contactsIcon img {
    width: 100%;
}