.defaultLogoBlock {
    justify-content: center;
    align-items: center;
}
.defaultLogoImg {
    display: inline-block;
    width: 40px;
}
.defaultLogoName {
    display: inline-block;
    margin: 10px;
    width: 60px;
    filter: brightness(0) invert(1)
}
@media (max-width: 475px) {
    .defaultLogoImg {
        width: 20px;
    }
    .defaultLogoName {
        width: 30px;
        margin: 0 10px;
    }
}