.defaultNavigationContainer {
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
}
.defaultNavigationMenuItem {
    padding: 30px 15px;
    text-decoration: none;
    cursor: pointer;
    color: #1CBDC9;
    font-size: 15px;
    font-weight: 300;
}
.defaultNavigationMenuItem:hover {
    color: rgb(84, 96, 149);
    transition: 0.4s ease 0s;
}

@media (max-width: 1024px) {
    .defaultNavigationMenuItem {
        width: 100%;
        padding: 5px;
    }
}
@media (max-width:600px) {
    .defaultNavigationContainer {
        align-items: center;
        flex-flow: column;
        margin-bottom: 10px;
    }
    .defaultNavigationMenuItem {
        font-size: 20px;
        margin: 10px 0; 
    }
}